{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Iniciar sesión</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Este es el formulario de login generado por Django -->
            <button type="submit">Iniciar sesión</button>
        </form>

        <p>No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
    </div>
{% endblock %}
